/*!******************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[5].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[5].oneOf[7].use[3]!./app/listDoctor/listDoctor.module.css ***!
  \******************************************************************************************************************************************************************************************************************************************************************************/
.listDoctor_wrapper__jGvpO {
    background-color: white;
    color: black;
}

.listDoctor_name__qjaXE {
    border-bottom: green;
}

.listDoctor_container__e7YwO {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.listDoctor_input__hub4k {
    margin-top: 70px;
}

.listDoctor_inputname__J_uNo {
    width: 1200px;
    background-color: white;
    border-radius: 5px;
    padding: 10px;
    outline: green;
}

.listDoctor_inputLists__HZ8qx {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}

.listDoctor_inputList___B8Zh {
    background-color: white;
    color: black;
    width: 290px;
    border-radius: 5px;
    padding: 8px;
}

.listDoctor_imgList__P4GVj>img {
    width: 195px;
    height: 195px;
}

.listDoctor_listInfors__Zt_Y1 {
    display: grid;
    grid-gap: 50px 100px;
    gap: 50px 100px;
    grid-template-columns: auto auto auto;
    background-color: #2196F3;
    padding: 10px;
    grid-column-gap: 10px;
    column-gap: 10px;
    margin-top: 10px;
    width: 1200px;
}

.listDoctor_listInfor__KkJpJ {
    background-color: #ccc;
    width: 385px;
    height: 364px;
    border-radius: 7px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.listDoctor_detail__dOls2 > button{
    margin-top: 5px;
    background-color: green;
    color: white;
    height: 35px;
    width: 120px;
    border-radius: 5px;
    border: none;
}
