/*!************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[5].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[5].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[5].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[5].oneOf[9].use[5]!./app/listDoctor/modal.module.scss ***!
  \************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.modal_modal__IoNFy {
  display: block;
  position: fixed;
  z-index: 1;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}
.modal_modal__IoNFy .modal_modal-content__kVLjA {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}
.modal_modal__IoNFy .modal_modal-content__kVLjA .modal_close__Fx3JF {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}
.modal_modal__IoNFy .modal_modal-content__kVLjA .modal_close__Fx3JF:hover, .modal_modal__IoNFy .modal_modal-content__kVLjA .modal_close__Fx3JF:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
/*!*****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[5].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[5].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[5].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[5].oneOf[9].use[5]!./app/listDoctor/listDoctor.module.scss ***!
  \*****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.listDoctor_wrapper__eWK_W {
  background-color: white;
  color: black;
}

.listDoctor_name__xjzZp {
  border-bottom: green;
}

.listDoctor_container__qnQ_c {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.listDoctor_input__3JbCB {
  margin-top: 70px;
}

.listDoctor_inputname__8Bkep {
  width: 1200px;
  background-color: white;
  border-radius: 5px;
  padding: 10px;
  outline: green;
}

.listDoctor_inputLists__skvCP {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}

.listDoctor_inputList__4_AK7 {
  background-color: white;
  color: black;
  width: 290px;
  border-radius: 5px;
  padding: 8px;
}

.listDoctor_imgList__jRksY > img {
  width: 195px;
  height: 195px;
}

.listDoctor_listInfors__xKXn4 {
  display: grid;
  grid-gap: 50px 100px;
  gap: 50px 100px;
  grid-template-columns: auto auto auto;
  background-color: #2196f3;
  padding: 10px;
  grid-column-gap: 10px;
  column-gap: 10px;
  margin-top: 10px;
  width: 1200px;
}

.listDoctor_listInfor__eEsW2 {
  background-color: #ccc;
  width: 385px;
  height: 364px;
  border-radius: 7px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.listDoctor_detail__8cejL > button {
  margin-top: 5px;
  background-color: green;
  color: white;
  height: 35px;
  width: 120px;
  border-radius: 5px;
  border: none;
}
