/*!********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[5].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[5].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[5].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[5].oneOf[9].use[5]!./components/screens/listdoctor/listdoctor.module.scss ***!
  \********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.listdoctor_wrapper__GjTMW {
  background-color: white;
  color: black;
}
.listdoctor_wrapper__GjTMW .listdoctor_container__QIMgk {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.listdoctor_wrapper__GjTMW .listdoctor_container__QIMgk .listdoctor_name__VQ8pz {
  border-bottom: green;
}
.listdoctor_wrapper__GjTMW .listdoctor_container__QIMgk .listdoctor_input__DFCbj {
  margin-top: 70px;
}
.listdoctor_wrapper__GjTMW .listdoctor_container__QIMgk .listdoctor_inputname__lvt8d {
  width: 1200px;
  background-color: white;
  border-radius: 5px;
  padding: 10px;
  outline: green;
}
.listdoctor_wrapper__GjTMW .listdoctor_container__QIMgk .listdoctor_inputLists__fXK3W {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}
.listdoctor_wrapper__GjTMW .listdoctor_container__QIMgk .listdoctor_inputList__AWrYQ {
  background-color: white;
  color: black;
  width: 290px;
  border-radius: 5px;
  padding: 8px;
}
.listdoctor_wrapper__GjTMW .listdoctor_container__QIMgk .listdoctor_imgList__DBAaw {
  border: 2px solid aqua;
  border-radius: 40%;
  overflow: hidden;
  background-color: aqua;
  width: 195px;
  height: 195px;
}
.listdoctor_wrapper__GjTMW .listdoctor_container__QIMgk .listdoctor_imgList__DBAaw > img {
  width: 200px;
  height: 200px;
}
.listdoctor_wrapper__GjTMW .listdoctor_container__QIMgk .listdoctor_listInfors__izclR {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 100%;
  padding: 10px;
}
.listdoctor_wrapper__GjTMW .listdoctor_container__QIMgk .listdoctor_listInfor__Ov0dg {
  background-color: #ccc;
  width: 385px;
  height: 364px;
  border-radius: 7px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.listdoctor_wrapper__GjTMW .listdoctor_container__QIMgk .listdoctor_listInfor__Ov0dg:hover .listdoctor_detail__s0gLU > button {
  display: block;
}
.listdoctor_wrapper__GjTMW .listdoctor_container__QIMgk .listdoctor_detail__s0gLU > button {
  background-color: green;
  color: #fff;
  height: 35px;
  width: 120px;
  border-radius: 5px;
  border: none;
  display: none;
  cursor: pointer;
}

.listdoctor_page__DIBxk {
  width: 100%;
}
.listdoctor_page__DIBxk ul {
  list-style: none;
  display: flex;
  align-items: center;
  float: right;
  margin-right: 9%;
  text-decoration: none;
}
.listdoctor_page__DIBxk ul li {
  border: 1px solid #ccc;
  padding: 15px;
  background-color: #fff;
  margin: 0 7px;
  border-radius: 10px;
}
.listdoctor_page__DIBxk ul li:hover {
  cursor: pointer;
  background-color: aqua;
}
