$flex: flex;
$bg-color: #a1cbfa;

.container {
    display: flex;
    gap: 10px;
    flex-flow: column wrap;
    align-content: space-between;
    height: 1000px;
    width: auto;
    background-color: red;
    border-radius: 3px;
    padding: 10px;

}

.break {
    flex-basis: 100%;
    width: 0;
    border: 1px solid #ddd;
    margin: 0;
    padding: 0;
}

.item {
    width: 19.5%;
    position: relative;
    margin-bottom: 1%;
    border-radius: 3px;
    background-color: #a1cbfa;
    color: #fff;
    padding: 15px;

    &:nth-of-type(5n + 1) {
        order: 1;
    }
    &:nth-of-type(5n + 2) {
        order: 2;
    }
    &:nth-of-type(5n + 3) {
        order: 3;
    }
    &:nth-of-type(5n + 4) {
        order: 4;
    }
    &:nth-of-type(5n) {
        order: 5;
    }
}

// @media (min-width: 1101px) {
//     .container {
//         gap: 10px;
//     }

//     .item {
//         width: 20%;

//         &:nth-of-type(5n + 1) {
//             order: 1;
//         }
//         &:nth-of-type(5n + 2) {
//             order: 2;
//         }
//         &:nth-of-type(5n + 3) {
//             order: 3;
//         }
//         &:nth-of-type(5n + 4) {
//             order: 4;
//         }
//         &:nth-of-type(5n) {
//             order: 5;
//         }
//     }
// }

@media (max-width: 1100px) {
    .container {
        height: 1450px;
    }

    .item {
        background-color: orange;
        width: 24%;

        &:nth-of-type(4n + 1) {
            order: 1;
        }
        &:nth-of-type(4n + 2) {
            order: 2;
        }
        &:nth-of-type(4n + 3) {
            order: 3;
        }
        &:nth-of-type(4n) {
            order: 4;
        }
    }
}

@media (max-width: 975px) {
    .container {
        height: 1700px;
    }

    .item {
        background-color: #ccc;
        width: 32%;

        &:nth-of-type(3n + 1) {
            order: 1;
        }

        &:nth-of-type(3n + 2) {
            order: 2;
        }

        &:nth-of-type(3n) {
            order: 3;
        }
    }
}

@media (max-width: 800px) {
    .container {
        height: 2000px;
        gap: 10px;
    }

    .item {
        background-color: purple;
        width: 50%;

        &:nth-of-type(2n + 1) {
            order: 1;
        }

        &:nth-of-type(2n) {
            order: 2;
        }
    }
}

@media (max-width: 475px) {
    .container {
        flex-direction: row;
        height: auto;
    }

    .item {
        flex: 100%;
        background-color: pink;
        width: 100%;

        &:nth-of-type(n) {
            order: 1;
        }
    }
}
