$text-color: #3caaaa;

.wrapper{
  width: 85%;
  margin: 0 auto;
  margin-top: 76px;
  .header{
    margin: 0 auto;
    .top{
      p{
        border-radius: 7px;
        color: $text-color;
        padding: 10px;
        margin: 0 auto;
        margin-top: 50px;
        text-align: center;
        background-color: rgba(0,0,0,0.03);
        width: 10%;
        font-size: 20px;
      }
    }
    .login{
      background-color: #ccc;
      float: right;
      color: $text-color;
      padding: 10px;
      border-radius: 8px;
    }
  }

  .content{
    background-color: #ccc;
    .contentTop{
      .contentTopT{
        border-radius: 10px;
        margin-top: 50px;
        // height: 50px;
        ul{
          display: flex;
          justify-content: space-between;
          align-items: center;
          li{
            list-style: none;
            color: $text-color;
            padding: 10px;
            border-radius: 8px;
            &:hover{
              background-color: $text-color;
              color: #fff;
              cursor: pointer;
            }
          }
        }
      }
      .contentTopB{
        margin-top: 10px;
        ul{
          display: flex;
          align-items: center;
          padding: 10px;
          li{
            list-style: none;
            margin-right: 10px;
            &:hover{
              color: $text-color;
              cursor: pointer;
            }
          }
        }
      }
    }
  }
}