.container {
    display: grid;
    grid-template-columns: repeat(3, auto);
    gap: 10px;
    background-color: #2196F3;
    padding: 10px;
}

.avoid {
    break-inside: avoid;
}

.box {
    background-color: #ccc;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 8px;
}