.container {
    .list {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 0;
        padding: 0;
        gap: 1rem;
        width: 100%;

        .column {
            width: calc(100% / 4 - 3 / 4 * 1rem);

            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            gap: 1rem;

            .item {
                background-color: antiquewhite;
                padding: 1rem;
            }
        }
    }
}
