.input {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;

    input {
        font-size: 30px;
    }

    button {
        font-size: 30px;
    }
}

.container {
    ul {
        text-align: center;

        li {
            list-style: none;
            color: red;
            font-size: 30px;
        }
    }
}

@media screen and (max-width: 720px) {
    
}